body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

main {
  background-color: #213a57;
  min-height: 100vh;
  position: relative;

  div.card {
    width: 250px;
    height: 300px;
    border-radius: 10px;
    position: absolute;
    top: 170px;
  }

  div.one {
    background-color: aqua;
    left: 340px;
  }

  div.two {
    background-color: #45dfb1;
    left: 60px;
  }
  div.three {
    background-color: #0ad1c8;
    left: 110px;
  }

  div.four {
    background-color: #14919b;
    left: 180px;
  }
  div.five {
    background-color: #80ed99;
    left: 220px;
  }

  div.six {
    background-color: #253b2a;
    left: 290px;
  }
}
