body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

main {
  min-height: 100vh;
  background-color: rgb(25, 27, 29);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  div.blue {
    background: linear-gradient(
      90deg,
      rgba(128, 237, 153, 1) 9%,
      rgba(10, 209, 200, 1) 46%,
      rgba(33, 58, 87, 1) 75%
    );
    height: 700px;
    width: 930px;
    border-radius: 15px;
    margin-top: 70px;
    position: relative;

    div.card {
      width: 250px;
      height: 300px;
      border-radius: 10px;
      position: absolute;
      top: 170px;
    }

    div.one {
      background-color: #213a57;
      left: 60px;
    }

    div.two {
      background-color: #0b6477;
      left: 160px;
    }
    div.three {
      background-color: #14919b;
      left: 260px;
    }

    div.four {
      background-color: #0ad1c8;
      left: 360px;
    }
    div.five {
      background-color: #45dfb1;
      left: 460px;
    }

    div.six {
      background-color: #80ed99;
      left: 560px;
    }
  }

  div.pink {
    background: linear-gradient(
      180deg,
      rgba(200, 168, 233, 1) 0%,
      rgba(227, 170, 221, 1) 34%,
      rgba(243, 220, 220, 1) 100%
    );
    height: 700px;
    width: 930px;
    border-radius: 15px;
    position: relative;

    div.card {
      width: 250px;
      height: 300px;
      border-radius: 10px;
      position: absolute;
      top: 240px;
    }

    div.one {
      background-color: #f4e7fb;
      left: 60px;
    }

    div.two {
      background-color: #f3dcdc;
      left: 160px;
    }
    div.three {
      background-color: #f5bcba;
      left: 260px;
    }

    div.four {
      background-color: #e3aadd;
      left: 360px;
    }
    div.five {
      background-color: #c8a8e9;
      left: 460px;
    }

    div.six {
      background-color: #c3c7f3;
      left: 560px;
    }
  }
}
